@tailwind base;
@tailwind components;
@tailwind utilities;

/* App global styles */
:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

.dark {
  --bg: 17 24 39;
  --fg: 243 244 246;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

a {
  color: rgb(99, 102, 241);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.container-page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
}
